.seccionCocteles {
    .tituloMainCocteles {
        font-size: 2.5rem;
        @extend .tituloBase;
        text-align: center;
    }

    #cocteles {
        flex-flow: column wrap;
        display: flex;

        .tituloCocteles {
            color: #e67b5c;
            justify-content: center;
            display: flex;
            padding: 5px;
        }

        .photoContainer {
            display: flex;
            flex-wrap: wrap;
            text-align: center;

            .productoCoctel {
                padding: 40px 40px 0px 40px;
                @include flexbox (column, flex-start, center);
                width: min-content;

                h5 {
                    word-wrap: break-word;
                    @extend .tituloBase;
                    font-size: 2rem;
                }

                p {
                    @extend .parrafoBase;
                    font-size: 1.2rem;
                }


            }
        }
    }
}