.tituloContacto {
    font-size: 2.5rem;
    @extend .tituloBase;
    text-align: center;
}

.contactoContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 45% 45%;
    justify-content: center;

    .mapsContainer {
        width: 460px;
        height: auto;
        margin: 80px auto;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #fbfbfb;
        padding-left: 30px;
        padding-right: 30px;

        .tituloMaps {
            font-size: 2rem;
            text-align: center;
            padding-bottom: 20px;
            color: #ab4493;
        }

        .maps {
            display: block;
            width: 100%;
            padding: 0px 10% 0px 10%;
            border: #0e0e0e 1px solid;
            border-radius: 5px;
            margin: 20px 0px 20px 0px;

            #maps {
                width: fit-content;
                ;
            }
        }

        .titulohorarios {
            color: #ab4493;
        }

        .horarios {
            width: 100%;

            th,td {
                text-align: center;
                border: 1px solid white;
                border-radius: 10px;
                padding: 0px 10px 0px 10px;
                margin: 5px 0px;
                background-color: #ab4493;
                font-size: 1.5rem;

            }

        }


    }

    .contacoForm {
        width: 460px;
        height: auto;
        margin: 80px auto;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #fbfbfb;
        padding-left: 30px;
        padding-right: 30px;

        .tituloFormulario {
            font-size: 39px;
            text-align: left;
            padding-bottom: 20px;
            color: #ab4493;
        }

        .subTituloFormulario {
            font-size: 16px;
            padding-bottom: 30px;
            color: #0e0e0e;
        }

        input {
            background-color: #fbfbfb;
            width: 408px;
            height: 40px;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #ab4493;
            margin-top: 10px;
            padding-left: 10px;
            margin-bottom: 20px;

            &:focus {
                outline: 0;
                border: 1px solid #97d848;
            }
        }

        textarea {
            background-color: #fbfbfb;
            width: 405px;
            height: 150px;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #ab4493;
            margin-top: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
            padding-top: 15px;

            &:focus {
                outline: 0;
                border: 1px solid #97d848;
            }
        }

        label {
            display: block;
            text-align: left;
        }

        button {
            height: 45px;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 20px;
            margin-top: 10px;
            text-transform: uppercase;
            background-color: #ab4493;
            border-color: #ab4493;
            border-style: solid;
            border-radius: 10px;
            width: 420px;
            cursor: pointer;

            p {
                color: #fff;
            }
        }

        span {
            color: #ab4493;
        }

        p {
            font-size: 14px;
            color: #0e0e0e;
        }

        .aviso {
            font-size: 13px;
            color: #0e0e0e;
        }


    }

}