.mainEvents {

   .tituloEventos {
      font-size: 2.5rem;
      @extend .tituloBase;
      text-align: center;
   }

   .eventosContainer {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      width: auto;
      margin: 0px 20px;

      .eventos {
         padding: 40px;
         @extend .tituloBase;
         @include flexbox (column, center, center);

         figcaption {
            text-align: center;
            margin-top: 10px;
            width: 70%;
         }

      }
   }






}