.mainEvents{

   .eventosContainer{ display: flex;
    flex-flow: column wrap;
    width: 80%;
   

.tituloEventos{
font-size:1.8rem;
text-align:center;
}

.pilares{
    display: grid;
    grid-template-columns: repeat(2,1fr );
    grid-template-rows:3,1fr;
}
   }

}