header {
    z-index: 1;
    font-family: 'roboto';
    display: flex;
    position: sticky;
    top: 0%;
    align-items: center;
    background: rgb(156, 120, 74);
    background: $radial-orangeHeader;



    .navbar {
        padding: 0;

        div.container-fluid {
            display: flex;
            justify-content:flex-start;
            padding: 0;

            a {
                padding: 0%;
            }


            img {
                height: 60px;
                width: 180px;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }


            li {
                padding: 0px 20px;
                display: inline-block;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    display: inline;
                    padding: 1px;
                    font-size: 1.1rem;
                    text-decoration: none;
                    background-color: #e6ccea;
                    color: black;
                    border-radius: 5px;
                    transition: all 0.3s;

                    &:hover {
                        color: #e9ad5f;
                        transform: scale(1.1);
                    }
                }

            }
        }
    }
}