@mixin flexbox($direction, $justify, $aling){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}
@mixin typography($size, $color, $style){
    font-size: $size;
    color: $color;
    font-style: $style;
}