$radial-orangeHeader: radial-gradient(circle, #9c784a 0%, #dab17d 100%);

$linear-primaryFooter:linear-gradient(0deg, #e9ad5f 0%, #e67b5c 100%) ;

$radial-bluePink:radial-gradient(circle, #df7da8 0%, #4a8ddd 100%);