*{padding: 0%;
margin:0%;}

/*Font Family*/
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');}

h1 {
    font-family: 'roboto';
     color: #ecac66;
    }

p { 
    color: #e6ccea;
     font-size: 2rem; font-style:italic;
    }
/*inicio de barra de navegacion*/
#header {
    font-family: 'roboto';
    display: flex;
    position:sticky;
    top: 0%;
    justify-content: end;
    height: 60px;
    align-items: center;
    background-color: #e9ad5f;
}

.logo{
    margin-right: auto;}

.logo a .photoLogo {
    height: 60px;
    width: 180px;
    transition: all 0.3s;}

.logo a .photoLogo:hover{
    transform: scale(1.1);}

.barraInicio {
    list-style: none;
    display: flex;}

.barraInicio li {
    padding: 0px 20px;
    display: inline-block;
    transition: all 0.3s;}

.barraInicio li:hover {
    transform: scale(1.1);}

.barraInicio li a {
    padding: 5px;
    font-size: 1.1rem;
    text-decoration: none;
    background-color:#e6ccea;
    color: black;
    border-radius: 50px;
    transition: all 0.3s;}

.barraInicio li a:hover{color:#e9ad5f;
transform: scale(1.1);}

/*fin de barra de navegacion*/


#parrafoInicio {
    background-color: gray;}


#cocteles {
    flex-flow:column wrap;
    display: flex;}

.tituloCocteles {
    color: #e67b5c;
    justify-content: center;
    display: flex;}

.photoContainer {
    display:flex ;
    flex-wrap: wrap;}

img.margarita {
    height: 400px ;
    width: 400px;
    padding: 40px;}

img.spicyMargarita {
    height: 400px ;
    width: 400px;
    padding: 40px;}

img.pinaColada {
    height: 400px ;
    width: 400px;
    padding: 40px}

img.oldFashioned {
    height: 400px ;
    width: 400px;
    padding: 40px}

img.mojito {
    height: 400px ;
    width: 400px;
    padding: 40px}

img.cubaLibre {
    height: 400px ;
    width: 400px;
    padding: 40px}

img.daikiri {
    height: 400px ;
    width: 400px;
    padding: 40px}

img.ginTonic {
    height: 400px ;
    width: 400px;
    padding: 40px}

    /*inicio de footer*/

footer{
    width: 100%;
    background-color: #e9ad5f;}

footer .grupo1{
    width: 100%;
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:initial;
    padding: 20px 0px;}

footer .grupo1 .div1{
        margin-right: auto;
        margin-left: 10px;}

footer .grupo1 .div2{
            margin-left: auto;
            margin-right: 10px;}

footer .grupo1 figure {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;}



footer .grupo1 figure img{
    width: 200px;}

footer .grupo1 h2{
    color: black;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 10px;}

    footer .grupo1 .contenedorRedesSociales .redesSociales li{
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;}

.copyright{
    font-size: 1.4rem;
    font-style: italic;
    color: black;
    background-color:#df9433;
    padding: 10px 0px;
    text-align: center;}

.redesSociales li a img {
    height: 50px;
    width: 50px;}






    /*fin de footer*/