* {
    padding: 0;
    margin: 0;
}

/*Font Family*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

h1 {
    font-family: 'roboto';
    color: #ecac66;
}

p {
    color: #e6ccea;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 0;
}

body {
    background: radial-gradient(circle, #335D73, #426D7E, #333)
}

/*inicio de barra de navegacion*/
#header {
    font-family: 'roboto';
    display: flex;
    position: sticky;
    top: 0%;
    justify-content: end;
    height: 60px;
    align-items: center;
    background: rgb(156, 120, 74);
    background: radial-gradient(circle, rgba(156, 120, 74, 1) 0%, rgba(218, 177, 125, 1) 100%);
}

.logo {
    margin-right: auto;
}

.logo a .photoLogo {
    height: 60px;
    width: 180px;
    transition: all 0.3s;
}

.logo a .photoLogo:hover {
    transform: scale(1.1);
}

.barraInicio {
    list-style: none;
    display: flex;
}

.barraInicio li {
    padding: 0px 20px;
    display: inline-block;
    transition: all 0.3s;
}

.barraInicio li:hover {
    transform: scale(1.1);
}

.barraInicio li a {
    padding: 5px;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #e6ccea;
    color: black;
    border-radius: 50px;
    transition: all 0.3s;
}

.barraInicio li a:hover {
    color: #e9ad5f;
    transform: scale(1.1);
}

/*fin de barra de navegacion*/


#parrafoInicio {
    background-color: gray;
}


#cocteles {
    flex-flow: column wrap;
    display: flex;
}


.tituloCocteles {
    color: #e67b5c;
    justify-content: center;
    display: flex;
}

.photoContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


img.margarita {
    padding: 40px 40px 0px 40px;
}

img.spicyMargarita {
    padding: 40px 40px 0px 40px;
}

img.pinaColada {
    padding: 40px 40px 0px 40px;
}

img.oldFashioned {
    padding: 40px 40px 0px 40px;
}

img.mojito {
    padding: 40px 40px 0px 40px;
}

img.cubaLibre {
    padding: 40px 40px 0px 40px;
}

img.daikiri {
    padding: 40px 40px 0px 40px;
}

img.ginTonic {
    padding: 40px 40px 0px 40px;
}


/* Comienzo de ContacUs.html*/
.tituloContacto {
    text-align: center;
}

.contactoContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 45% 45%;
    justify-content: center;

}

.mapsContainer{
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
    padding-right: 30px;
}

.contactoContainer .maps {
    display: block;
    align-self: center;
    width: 100%;
    padding: 0px 10% 0px 10%;    
}

.tituloMaps{
    font-size: 2rem;  
	text-align: center; 
	padding-bottom: 20px; 
	color: #ab4493;
}

.maps{
    border-style: solid;
    border-width: 1px;
    border-color: #0e0e0e;
    border-radius: 5px;
    margin:20px 0px 20px 0px;
}

#maps {
    width: fit-content;;
}

.titulohorarios{
    color: #ab4493;
}

.horarios {
    font-size: 1.5rem;
    border-color: #ab4493;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px;
    background-color: #ab4493;
}

.contacoForm {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
    padding-right: 30px;
}

.contacoForm .formulario input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}

.contacoForm .formulario textarea{
    background-color: #fbfbfb; 
      width: 405px; 
      height: 150px; 
      border-radius: 5px;  
      border-style: solid; 
      border-width: 1px; 
      border-color: #ab4493; 
      margin-top: 10px;  
      padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }

  .contacoForm .formulario label {
    display: block;
    text-align: left;
}

.contacoForm .formulario button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}

.contacoForm .formulario button p{
	color: #fff; 
}


.contacoForm .formulario span{
	color: #ab4493; 
}

.tituloFormulario{
	font-size: 39px;  
	text-align: left; 
	padding-bottom: 20px; 
	color: #ab4493;
}


.subTituloFormulario{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


.contacoForm .formulario p{
	font-size: 14px; 
	color: #0e0e0e; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}

.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}


/*inicio de footer*/

footer {
    width: 100%;
    background: rgb(233, 173, 95);
    background: linear-gradient(0deg, rgba(233, 173, 95, 1) 0%, rgba(230, 123, 92, 1) 100%);
    margin-bottom: 0%;
}

footer .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: initial;
    padding: 20px 0px;
}

footer .grupo1 .div1 {
    margin-right: auto;
    margin-left: 10px;
}

footer .grupo1 .div2 {
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
}

footer .grupo1 figure {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}



footer .grupo1 figure img {
    width: 200px;
}

footer .grupo1 h2 {
    color: black;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
}

footer .grupo1 .contenedorRedesSociales .redesSociales li {
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.contenedorRedesSociales ul {
    text-align: center;
}

.copyright {
    font-size: 1.4rem;
    font-style: italic;
    color: black;
    background: rgb(223, 148, 51);
    background: linear-gradient(180deg, rgba(223, 148, 51, 1) 0%, rgba(230, 123, 92, 1) 100%);
    ;
    padding: 10px 0px;
    text-align: center;
}

.redesSociales li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.copyrightContainer {
    width: 100%;
    display: inline-block;
    bottom: 0%
}




/*fin de footer*/


/*pagina de inicio*/

.carouselContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30%;
    justify-content: center;
}

.carouselContainer #carouselExample img {
    width: auto;
    height: auto;
}

/*Media Query*/
@media only screen and (max-width: 1200px){
.contactoContainer {
    grid-template-columns: 1fr;
}
}



@media only screen and (max-width: 768px) {
    
    body {
        display: flex;
        flex-wrap: wrap;
        background: rgb(223, 125, 168);
        background: radial-gradient(circle, rgba(223, 125, 168, 1) 0%, rgba(74, 141, 221, 1) 100%)
        
    }

    .div1, .redesSociales, .copyrightContainer{
        width: 100%;
    }

    footer .grupo1 figure img {
        width: 50%;
    }

    .carouselContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 95%;
    justify-content: center;
}